---
layout: markdown_page
title: "JTBD framework for CI"
description: "The goal of this page will be to document and improve upon the jobs-to-be-done and their corresponding job stories for the CI stage."
---

- TOC
{:toc}

The goal of this page will be to document and improve upon the [Jobs to be Done](/handbook/engineering/ux/ux-resources/#jobs-to-be-done) and their corresponding job stories for the CI stage. Our goal is to utilize the jobs theory to better understand our buyers' and users' needs. 

As part of the [Product Development Workflow](/handbook/product-development-flow/), we will select prioritized job stories for problem and solution validation. We will then move the validated solutions to the build track, and launch the feature. Each quarter, we will select key JTBD and job stories for user experience testing.

### Goals

Utilize JTBD and job stories to:
- Understand our users' motivations by having a clear overview.
- Validate identified use cases and solutions.
- Continuously test and iterate features to ensure we are meeting our customers' needs.
- Create a transparent view for our stakeholders into the current and future state of the product.

### Challenges

Coming soon

### JTBD

#### Format

> When [situation], I want to [job] so I can [outcome].

#### Grading/maturity rubric

The grading rubric is the same as for UX scorecards detailed at [UX scorecards page](/handbook/engineering/ux/ux-scorecards/#grading-rubric).

#### Overview

To be updated soon!

<%= partial("direction/jtbd-list", locals: { stage_key: "CI" }) %>
